/* external CSS */


*{
    margin: 0;
    padding: 0;
};


h1{
    color: blueviolet;
}

#fruits-title{
    color: rgb(227, 131, 5);
    background-attachment: scroll;
}
.importance-places{
    color: blueviolet;
    font-size: medium;
}

.header-section{
    background-color: rgb(212, 227, 240);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    
}
.header-title{
    background-color: rgb(212, 227, 240);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}


.yellow-bg{
background-color: antiquewhite;
}

.heading{
    text-align: center;
    font-size: 24px;
}
.button{
    padding: 4px;
    margin-top: 8px;
    background-color: aqua;
    color: black;
    text-align: center;
    border: 1px solid orangered;
    border-radius: 5px;
    padding-right: 4px;
    padding-left: 4px;
    display: flex;
    justify-items: center;
}