/* external CSS */


*{
    margin: 0;
    padding: 0;
};


h1{
    color: blueviolet;
}

#fruits-title{
    color: rgb(227, 131, 5);
    background-attachment: scroll;
}
.importance-places{
    color: blueviolet;
    font-size: medium;
}

.header-section{
    background-color: rgb(212, 227, 240);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}
.header-title{
    background-color: rgb(212, 227, 240);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}